<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="authorization/registration">Зарегистрироваться</a>
<br>
<a href="authorization/tryenter">Войти</a>
<br>
<a th:href="@{authorization/createRoom}">Create room</a>
<!--<video id="vid" autoplay></video>
<script>
    navigator.mediaDevices.getUserMedia({
    video:true,audio:true
    })
    .then(stream=>{
    document.getElementById("vid").srcObject = stream;
    })
</script>-->
</body>
</html>